.futurama-slider{
    overflow: hidden;
    width: 80vw;
    height: 39.2vw;
    margin: 0 auto;
}
.futurama-slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 30s slider infinite;
}
.futurama-slider figure img{
    float: left;
    width: 20%;
    opacity: 0.8;
    cursor: pointer;
}
@keyframes slider{
    0%{
        left: 0%;
    }
    20%{
        left: 0%;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

@media screen and (max-width: 500px) {
    #futurama-heading{
        font-size: 5vw;
    }
}