header{
    display: flex;
    width: auto;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(172, 172, 172); */
    color: black;
    padding: 0 20px;
}
.company-logo{
    /* margin-left: 20px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}
.company-logo img{
    width: 100px;
    height: 47px;
}
.company-logo a{
    text-decoration: none;
}
.company-name{
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: black;
}
.search{
    display: flex;
}
.searchbar{
    background-color: white;
    border: 1px solid grey;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.searchbar input{
    border: none;
    margin-left: 10px;
    width: 25vw;
    height: 20px;
}
.block{
    display: inline-block;
    width: 150px;
    height: 70px;
    font-size: 17px;
    line-height: 70px;
    font-family: 'Spartan', sans-serif;
    text-align: center;
}
.block:hover{
    background-color: rgb(230, 230, 230);
}

.responsive-500{
    display: none;
}

.responsive-cart{
    display: none;
}

@media screen and (max-width: 1100px) {
    .block{
        font-size: 15px;
        width: 15vw;
    }
}

@media screen and (max-width: 1000px) {
    header{
        height: 6vw;
    }
    .company-logo img{
        width: 11vw;
        height: 5vw;
    }

    .company-name{
        font-size: 3.5vw;
    }
    .searchbar input{
        width: 20vw;
    }
}

@media screen and (max-width: 950px) {
    .buy-or-addcart{
        display: none;
    }
    .responsive-cart{
        display: inline-block;
    }
    #cart-plus{
        display: inline-block;
    }
}