header{
    display: flex;
    width: 100vw;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(172, 172, 172); */
    color: black;
}
.companylogo img{
    width: 100px;
    height: 65px;
    margin-left: 2vw;
}
.company-name{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 35px;
}
.search{
    display: flex;
}
.searchbar{
    background-color: white;
    border: 1px solid grey;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.searchbar input{
    border: none;
    margin-left: 10px;
    width: 25vw;
    height: 20px;
}
.block{
    display: inline-block;
    width: 150px;
    height: 70px;
    font-size: 15px;
    line-height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.block:hover{
    background-color: rgb(230, 230, 230);
}