.tagline
{
    
    border-radius: 8px;
   font-family: cursive;
    font-size: large;
    color: black;
    padding: 10px;
}

.productdesimage
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 400px;
}
.specs li
{
    font-family:  'Prompt', sans-serif;
    font-size: large;
}
.price{
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-size: larger;
}
