

.other-products{
    width: 98vw;
    height: 58.8vw;
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(212, 212, 212);
    margin: auto;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.other-products h2{
    /* width: 1400px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 4vw;
}

.products{
    display: flex;
    justify-content: space-evenly;
}


.items{
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-info{
    display: flex;
    align-items: center;
}

.item-name{
    width: 300px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.item-name-specs{
    font-weight: normal;
    
}

.buy-or-cart{
    width: 150px;
    height: 35px;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(60, 61, 50);
    opacity: 0.6;
    color: black;
}
.see-all{
    margin-left: 90vw;
    font-size: 20px;
}

.accessories{
    height:500px;
    margin-top: 30px;
}

.contact-doc{
    width: 60vw;
    margin-top: 30px;
    height: 500px;
}

.form{
    width: 56.8vw;
    height: 250px;
    margin: 0 auto;
}
.form form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45vw;
    height: 250px;
    margin: auto;
    font-family: 'Exo', sans-serif;
    font-size: 1.4vw;
}
.form-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-elements input{
    height: 1.3vw;
    font-size: inherit;
}
.form-elements textarea{
    width: 19.2vw;
    height: 70px;
}
.gender{
    width: 21vw;
    display: flex;
    justify-content: space-evenly;
}

.input-name{
    width: 12vw;
}
#age{
    width: 7.8vw;
}
#email{
    width: 14vw;
}
#std{
    width: 2.5vw;
}
#phone{
    width: 9vw;
}
.stores{
    width: 35vw;
    margin-top: 30px;
    height: 500px;
}

.consult-and-list{
    display: flex;
    flex-direction: row;
    max-width: 98vw;
    margin: auto;
}

.or{
    display: flex;
    flex-direction: row;
    width: 60vw;
    justify-content: space-evenly;
    font-size: 30px;
}
.or hr{
    width: 20vw;
    margin-top: 17.2px;
}

.msg-at-whatsapp{
    width: 56.8vw;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}

.submit-form{
    width: 80px;
    height: 25px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(204, 204, 204);
    color: rgb(72, 72, 72);
    border: 1px solid rgb(72, 72, 72);
    float: right;
}

.not-vis-at-1536px{
    display: none;
}

@media screen and (max-width:1450px) {
    .responsive-1450px{
        display: none;
    }

    .not-vis-at-1536px{
        display: flex;
    }
}

@media screen and (max-width:1300px) {
    .items{
        height: 22vw;
    }
    .items img{
        width: 24vw;
    }
    .item-name{
        width: 24vw;
        font-size: 1.4vw;
    }
    .buy-or-cart{
        width: 12vw;
        height: 3vw;
        font-size: 1.2vw;
    }
    .accessories{
        height: 38vw;
    }
    .see-all{
        font-size: 2vw;
    }
}

@media screen and (max-width: 800px) {
    .contact-doc{
        width: 50vw;
    }
    .form{
        width: 50vw;
    }
    .form form{
        font-size: 1.6vw;
    }
    .or{
        width: 50vw;
        font-size: 3.5vw;
    }
    .or hr{
        width: 15vw;
    }
    .msg-at-whatsapp{
        width: 50vw;
        font-size: 2.5vw;
    }

    .stores{
        width: 45vw;
    }
    
}